---
extends: default

ignore: |
  .venv/
  inventories/0-test/.vagrant/

rules:
  document-start:
    present: true
    ignore: |
     vault.yml
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy:
    allowed-values: ['yes', 'no']
    ignore: |
      bitbucket-pipelines.yml
      .yamllint
      Vagrantfile.servers.yml
      Vagrantfile.yml
      .pre-commit-config.yaml
  quoted-strings:
    quote-type: single
    required: true
    ignore: |
      bitbucket-pipelines.yml
      .yamllint
      Vagrantfile.servers.yml
      Vagrantfile.yml
      .pre-commit-config.yaml
  empty-lines:
    max: 2
    max-start: 1
