{{ ansible_managed | comment }}
{% raw %}
               &&&                                             &&&
               &&&&&&                                      &&&&&&&
               &&&&&&&&&&   Welcome, authorised user!   &&&&&&&&&&
               &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
               &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
               &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
               &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
               &&&&&&&&&&&&&    &&&&&&&&&&&&&&&&,    &&&&&&&&&&&&&
               &&&&&&&&&&         &&&&&&&&&&&&         &&&&&&&&&&&
               &&&&&&&&             &&&&&&&&             ,&&&&&&&&
               &&&&&&                 %&&&                  &&&&&&
               &&&                                            &&&&
                           &&&&&&&&           &&&&&&&
                             &&&&&            &&&&&

               &&&&&&&&&&&                            &&&&&&&&&&&
               &&&&&&&&&&&&        &&&&&&&&&&        &&&&&&&&&&&&&
               &&&&&&&&&&&&&         &&&&&&/        ,&&&&&&&&&&&&&
               &&&&&&&&&&&&&&          &&#          &&&&&&&&&&&&&&
               &&&&&&&&&&&&&&&          &         &&&&&&&&&&&&&&&&
                 %&&&&&&&&&&&&&&.     &&&&      &&&&&&&&&&&&&&&
                     (&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                         *&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                             .&&&&&&&&&&&&&&&&&&&&&
                                  &&&&&&&&&&&&&
                                      &&&&&
{% endraw %}
