## vagrant {{{1
.vagrant/machines/*
.vagrant/plugins/*
.vagrant/rgloader/*
.vagrant/provisioners/ansible/inventory/files/*
.vagrant/plugins.json
.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
## }}}1
